
*{
    margin: 0;
    padding: 0;
}

section{
    align-items: center;
    background-color: aliceblue;
    color: black;
    margin: 10px 0;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

div{
    padding: 30px;
}

@media screen and (min-width: 1024px)  {

}

@media screen and (min-width: 1728px)  {       
}

header{
    align-items: center;
    padding: 12px;
    justify-content: space-around;
    background-color: black;
    color: rgb(255, 255, 255);
    position: relative;
}

ul li{
    list-style: none;
}

.texto{
    color: aliceblue;
}

.a{
    color: white;
    text-decoration: none;
}

.lista{
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgb(99, 72, 72);
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.caixa:checked~.lista{
    display: block;
}

#menu{
    display: none;
}

.lista-item{
    padding: 12px 0;
}

@media screen and (min-width: 1024px){
  .lista{
    right: 8%;
    width: 14%;
    padding: 20px;
    text-align: start;
  }
  .lista-item:hover{
    background-color: rgb(119, 51, 51);
  }
}

.img{
    width: 200px;
    height: 200px;
}

.fotos {
 width: 150px;
 height: 150px;
}

.foto2{
    width: 1200px;
    height: 700px;
    align-items: center;
    grid-template-columns: 50% 50%;
}

.posito{
    width: 600px;
    height: 120px;
}

.cj{
    width: 150px;
    height: 150px;
}

.footer-diagonal {
    width: 100%;
    float: left;
    overflow: hidden;
    line-height: 0;
}
.footer-diagonal svg {
    
    float: left;
    display: block;
    width: calc(100% + 1px);
    height: 45px;
    transform: rotateY(180deg);
    background-color: #323131;
}
.footer-diagonal .shape-fill {
    fill: #f4f4f4;
}
.main_footer          { background-color:#323131; color:#fff; font-size:1em; }
.main_footer .content { float:left; width:80%; margin:0 10%; padding: 2em 0; }
.container { float:left; width:100%; }
.colfooter { 
 
  width:100%; 
  height:auto;
  min-height: 100%; 
  float:left; 
  margin-bottom:2em;
}
.colfooter ul        { width:100%; float:left; }
.colfooter ul li     { padding:0.2em 0em; }
.colfooter ul li a   { text-decoration:none; color:#ffffff; font-size:1em; transition:0.2s; }
.colfooter ul li a i { font-size:0.5em; }
.colfooter ul li a:hover { color:#fffb00; }
.colfooter .titleFooter   { 
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    color: #ffffff;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px #424242 solid;
}
.colfooter p  { 
  font-family: 'Lato', sans-serif; 
  color:#ffffff; 
  font-size:1em; 
  height:25px; 
}
.colfooter .redesocial { 
    
    color: #ffffff;
    float: left;
    text-decoration: none;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    transition:0.2s;
}
.colfooter .redesocial:hover { 
    
    color: #fffb00;
    transition:0.2s;
}
.main_footer_copy          { background-color:#323131; width:100%; float:left; font-family: 'Lato', sans-serif; text-align:center; padding:1.5em 0em; }
.main_footer_copy .content { float:left; width:80%; margin:0 10%; padding:20px 0; border-top:1px #464646 solid; }
.main_footer_copy p { font-size:1em; color:#ffffff; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by a       { color:#fff; text-decoration:none; font-weight:600; transition:0.2s; }
.main_footer_copy .by a:hover { text-decoration:underline; color:#fffb00 }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }
/*Responsivo*/
/*960PX BREAKPOINT*/
@media (min-width:60em){
  .footer-diagonal svg         { width: calc(100% + 1.3px); height: 160px; }
  .main_footer .content        { padding: 2em 0; }
  .colfooter .titleFooter      { border-bottom: 0px; }
  .colfooter                   { width:30%; min-height:200px; margin-right:5%; margin-bottom:0; border-right: 1px #424242 solid; }
  .colfooter:nth-of-type(3n+0) { margin-right:0; border-right:0;}